* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
  }

  body { 
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 14px;
  }

  #wrapper {
    height: calc(100vh - 34px);
    padding: 0;
    width: 100vw;
  }

  #logo {
    height: auto;
    margin-bottom: 40px;
    width: 337px;
  }
  .left-side {
    width: 337px;
    height: 100%;
    float: left;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .right-side{
    float: right;
    height: 100%;
    margin: 0;
    padding: 0;
    width: calc(100vw - 337px);
     display: flex;
    flex-direction: column;
  }
  .header-right{
    height: 96px;
    width: 100%;
    margin: 0;
    margin-bottom: 6px;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
  }
  .content{
    background: #ffffff;
    height: calc(100% - 96px);
    width: 100%;
    padding: 0;
    margin: 0;
  }
  footer{
    height: 34px;
    border-top: 2px solid #E0C529;
    color: #EBCE92;
    text-align: center;
    padding-top: 8px;
  }

  .inner-page{
    padding: 0 120px 60px 60px;
    height: 100%;
    /*overflow-y: scroll;*/
    text-align: justify;
  }
  .inner-page h2{
    overflow: auto;
    color: #8E4B02;
    margin: 40px 0 20px;
  }
  .inner-page h3{
    overflow: auto;
    color: #8E4B02;
  }
  .inner-page ul{
    list-style: none;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
  }
  .inner-page ul li{
    list-style: none;
    margin: 2px 0;
  }
  .inner-page p{
    margin-bottom: 20px;
  }
    .highlightText {
        background: yellow;
    }

    .img-container{
      text-align: center;
    }
    .img{
      width: 80%;
      height: auto;
      margin: 0 auto;
      border: 1px solid #8E4B02;
    }
    .img-description{
      font-style: italic;
      text-align: center;
      font-weight: bold;
    }
    .hidden{
      display: none;
    }
    ul.content-switcher{
      list-style: none;
      margin: 0 -65px 30px -60px;
    }
    ul.content-switcher li{
      list-style: none;
      margin: 0;
      display: inline-block;
      width: 50%;
      text-align: center;
    }
    ul.content-switcher li a{
      font-size: .8em;
      list-style: none;
      margin: 0;
      padding: 15px 0;
      display: block;
      background: #303030;
      color: #ffffff;
      text-decoration: none;
      text-transform: uppercase;
    }
    ul.content-switcher li a.is-active{
      background: #E21F00;
    }
    /*------------------------------------- scrollbar style -----------------------------------------*/
.my-scrollbar {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, #000000 0%, #000000 55px, #EDE5DC 55px, #EDE5DC 100%);
  }

  .vue-scrollbar__wrapper {
    margin: 0 auto 0 0;
}

.vue-scrollbar__scrollbar-vertical {
    right: 20px;
}

.vue-scrollbar-transition, .vue-scrollbar__scrollbar-vertical {
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.vue-scrollbar-transition--scrollbar {
  transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -webkit-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
}

.vue-scrollbar__wrapper {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.vue-scrollbar__wrapper:hover .vue-scrollbar__scrollbar-vertical {
  opacity: 1;
}
.vue-scrollbar__scrollbar-vertical{
  opacity: 0.5;
  position: absolute;
}
.vue-scrollbar__scrollbar-vertical .scrollbar {
  position: relative;
  cursor: default;
}
.vue-scrollbar__scrollbar-vertical {
  width: 10px;
  height: 100%;
  top: 0;
}
.vue-scrollbar__scrollbar-vertical .scrollbar {
  width: 30px;
  left: -10px;
}