* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
  }

  body { 
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 14px;
  }

  #wrapper {
    height: calc(100vh - 34px);
    padding: 0;
    width: 100vw;
  }

  #logo {
    height: auto;
    margin-bottom: 40px;
    width: 337px;
  }
  .left-side {
    width: 337px;
    height: 100%;
    float: left;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .right-side{
    float: right;
    height: 100%;
    margin: 0;
    padding: 0;
    width: calc(100vw - 337px);
     display: flex;
    flex-direction: column;
  }
  .header-right{
    height: 96px;
    width: 100%;
    margin: 0;
    margin-bottom: 6px;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
  }
  .content{
    background: #ffffff;
    height: calc(100% - 96px);
    width: 100%;
    padding: 0;
    margin: 0;
  }
  footer{
    height: 34px;
    border-top: 2px solid #E0C529;
    color: #EBCE92;
    text-align: center;
    padding-top: 8px;
  }

  .inner-page{
    padding: 0 120px 60px 60px;
    height: 100%;
    /*overflow-y: scroll;*/
    text-align: justify;
  }
  .inner-page h2{
    overflow: auto;
    color: #E22000;
    margin: 40px 0 20px;
  }
  .inner-page p{
    margin-bottom: 20px;
  }
    .highlightText {
        background: yellow;
    }
.my-scrollbar {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, #000000 0%, #000000 55px, #ffffff 55px, #ffffff 100%);
  }

  .vue-scrollbar__wrapper {
    margin: 0 auto 0 0;
}

.vue-scrollbar__scrollbar-vertical {
    right: 20px;
}